<div style = "text-align = 'center' ">
  <h3 >
      Redefinição de senha
  </h3>
  <p>
      O código para redefinir sua senha é: <b>{{code}}</b>
  </p>
  <p>
      Este código é valido por 10 minutos e só poderá ser utilizado uma única vez.
  </p>
  <p>
    <b>*MENSAGEM AUTOMÁTICA, NÃO RESPONDER ESTE EMAIL.</b>
  </p>

</div>
